@{
    ViewData["Title"] = "Privacy Policy";
}
<form id="form">
    <div class="container mx-auto" style="font-size:20px;margin-top:10%;">
        <div class="row w-100 mx-auto">
            <div class="col-md-3 col-sm-2">

            </div>
            <div class="col-md-6 col-sm-8">
                <div class="form-outline">
                    <input type="text" id="national_number" class="form-control" />
                    <label class="form-label" for="typePassword">الرقم الوطني</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-5" id="search">بحث</button>
                <button type="submit" class="btn btn-primary btn-block mt-5" id="calculating">حصر الإرث</button>
            </div>
            <div class="col-md-3 col-sm-2">
                
            </div>
        </div>
    </div>
</form>
<script>
    $("#calculating").click(function (e) {
        e.preventDefault();
        window.location.href = '@Url.Action("Second_Page","Pages")'
    });
    $("#search").click(function (e) {
        e.preventDefault();
            Validate();
    });
    function Validate() {
    $.ajax(
        {
            type: "POST",
            url: '@Url.Action("search", "Pages")',
            data: {
                national_number0: $('#national_number').val(),
            },
            error: function (result) {
                alert("Something went wrong !");
    },
    success: function (result) {
    console.log(result);
        if (result == "success") {
            window.location.href = '@Url.Action("Third_Page","Pages")'
        } else if (result == "no idnum") {
            alert("Id number doesn't exist");
        }else if (result == "Something went wrong !") {
            alert("Something went wrong !");
        } else if (result == "not 11") {
            alert("National Number must be 11 number");
        }
    else {
    toastr.error( " @ViewBag.wrongmsg  ", "",{
    "positionClass": "md-toast-top-center",
    });
    }
    }
    });
    }
</script>